body {
  font-family: 'Crimson Text', serif;
}

.test {
  width:200px;
  height:200px;
  border: red solid 1px;
}

.angular-google-map-container { height: 400px; }

img {
  width: 190px;
  height: 126px;
  border: dotted gray 1px;
}

article.article-holder{
  width: 210px;
  height:370px;
  border: dotted gray 1px;
  float:left;
  overflow:hidden;
}

h1, h3 {
  font-family: 'Julius Sans One', sans-serif;
}

a {
  text-decoration: none;
}